body {
    font-family: 'Roboto Condensed';
    /*Arial, sans-serif;
    background: linear-gradient(135deg, #0a8131, #9af30b);*/
    background-image: url(../cloud.jpg);
    background-size: cover;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background: rgba(255, 255, 255, 0.493);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

h1 {
    margin-bottom: 20px;
    font-size: 2rem;
}

p {
    margin-bottom: 15px;
    font-size: 1.2rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"] {
    width: 80%;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
}

button {
    padding: 10px 20px;
    background-color: black;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #F0C1E1;
}